@import url(c:\Users\tm-l\OneDrive\Skrivbord\Grafiska verktyg\fed21d-grafiska-verktyg-schweizernotterna\node_modules\normalize.css\normalize.css);
body {
  background-color: #506757;
  color: black;
}

h1 {
  font-family: 'Ms Madi', cursive;
  font-size: 64px;
  font-weight: 400;
}

h1 span {
  font-family: 'Ms Madi', cursive;
  font-size: 64px;
  color: #ac5444;
}

h2 {
  font-family: 'Abel', sans-serif;
  font-size: 40px;
  font-weight: 400;
}

h3 {
  font-family: 'Abel', sans-serif;
  font-size: 36px;
  font-weight: 400;
}

h4 {
  font-family: 'Abel', sans-serif;
  font-size: 24px;
  font-weight: 400;
}

h5, h6 {
  font-family: 'Abel', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
}

p {
  font-family: 'Abel', sans-serif;
  font-size: 20px;
}

section {
  width: 100vw;
  height: 100vh;
  position: relative;
}

#sectionOne #animation {
  position: absolute;
  width: 62px;
  height: 83px;
  left: 0px;
  top: 0px;
  z-index: 5;
}

#sectionOne img {
  position: absolute;
  left: -38px;
  top: -15px;
}

#sectionOne nav span {
  display: block;
  position: relative;
  width: 40px;
  height: 7px;
  background-color: #d0af96;
  border-radius: 8px;
  outline: 1px solid rgba(0, 0, 0, 0.3);
  z-index: 1;
  margin-bottom: 4px;
  top: 11px;
  left: 320px;
}

#sectionOne h2 {
  position: absolute;
  top: 35%;
  left: 7px;
}

#sectionOne h1 {
  position: absolute;
  top: 42%;
  left: 30px;
}

#sectionOne #line {
  position: absolute;
  background-color: black;
  height: 3px;
  width: 112px;
  -webkit-transform: rotate(-14.56deg);
          transform: rotate(-14.56deg);
  top: 51%;
  left: 30px;
}

#sectionOne div {
  position: absolute;
  background-color: #d0af96;
  width: 255px;
  height: 210px;
  border-radius: 20px;
  -webkit-box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.35);
          box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.35);
  left: 59px;
  top: 58%;
}

#sectionOne div h4 {
  margin-top: 20%;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#sectionOne div button {
  font-family: 'Abel', sans-serif;
  font-size: 24px;
  background-color: #506757;
  color: #fff;
  width: 145px;
  height: 51px;
  border-radius: 11px;
  -webkit-box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.3);
  margin-left: 22%;
  border: 0px;
}

#sectionTwo img {
  position: absolute;
  height: 297px;
  width: 506px;
  left: -126px;
}

#sectionTwo h3 {
  position: absolute;
  margin-top: 15%;
  left: 55%;
  width: 50%;
  float: right;
  line-height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#sectionTwo div {
  position: absolute;
  background-color: #cdd1d1;
  width: 300px;
  height: 342px;
  border-radius: 20px;
  -webkit-box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.35);
          box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.35);
  left: 38px;
  top: 42%;
}

#sectionTwo div h4 {
  margin-top: 10%;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#sectionTwo div p {
  text-align: center;
}

#sectionTwo div button {
  font-family: 'Abel', sans-serif;
  font-size: 24px;
  background-color: #506757;
  color: #fff;
  width: 145px;
  height: 51px;
  border-radius: 11px;
  -webkit-box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.3);
  margin-left: 22%;
  border: 0px;
}

#sectionThree {
  outline: 1px solid blue;
}

#sectionBooking {
  outline: 1px solid black;
}

#sectionAbout {
  outline: 1px solid pink;
}
/*# sourceMappingURL=style.css.map */