@import url(c:\Users\tm-l\OneDrive\Skrivbord\Grafiska verktyg\fed21d-grafiska-verktyg-schweizernotterna\node_modules\normalize.css\normalize.css);
body {
  background-color: #506757;
  color: black;
}

h1 {
  font-family: 'Ms Madi', cursive;
  font-size: 64px;
  font-weight: 400;
}

h1 span {
  font-family: 'Ms Madi', cursive;
  font-size: 64px;
  color: #ac5444;
}

h2 {
  font-family: 'Abel', sans-serif;
  font-size: 40px;
  font-weight: 400;
}

h3 {
  font-family: 'Abel', sans-serif;
  font-size: 36px;
  font-weight: 400;
}

h4 {
  font-family: 'Abel', sans-serif;
  font-size: 24px;
  font-weight: 400;
}

h5, h6 {
  font-family: 'Abel', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 400;
}

p {
  font-family: 'Abel', sans-serif;
  font-size: 20px;
}

.MenuSection {
  position: absolute;
  background-color: #d0af96;
  z-index: 244;
}

.MenuSection button {
  background-color: transparent;
  border: 0;
}

.MenuSection #closeMenu {
  width: 78px;
  height: 78px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.MenuSection #spanOne {
  display: block;
  position: relative;
  width: 40px;
  height: 7px;
  background-color: #506757;
  border-radius: 8px;
  outline: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 37px;
  left: 310px;
}

.MenuSection #spanTwo {
  display: block;
  position: relative;
  width: 40px;
  height: 7px;
  background-color: #506757;
  border-radius: 8px;
  outline: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 30px;
  left: 311px;
}

.MenuSection h2 {
  position: relative;
  margin-top: 57px;
  top: 155px;
  left: 103px;
}

section {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
}

#sectionStart #animation {
  position: absolute;
  width: 106px;
  height: 150px;
  left: -10px;
  top: -25px;
  z-index: 5;
}

#sectionStart img {
  position: absolute;
  left: -38px;
  top: -15px;
  -o-object-fit: none;
     object-fit: none;
  overflow: hidden;
}

#sectionStart .image_tablet {
  display: none;
}

#sectionStart nav span {
  display: block;
  position: relative;
  width: 40px;
  height: 7px;
  background-color: #d0af96;
  border-radius: 8px;
  outline: 1px solid rgba(0, 0, 0, 0.3);
  z-index: 1;
  margin-bottom: 4px;
  top: 11px;
  left: 320px;
}

#sectionStart h2 {
  position: absolute;
  top: 33%;
  left: 7px;
}

#sectionStart h1 {
  position: absolute;
  font-size: 64px;
  top: 37%;
  left: 30px;
}

#sectionStart #line {
  position: absolute;
  background-color: black;
  height: 3px;
  width: 112px;
  -webkit-transform: rotate(-14.56deg);
          transform: rotate(-14.56deg);
  top: 50%;
  left: 28px;
}

#sectionStart div {
  position: absolute;
  background-color: #d0af96;
  width: 255px;
  height: 210px;
  border-radius: 20px;
  -webkit-box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.35);
          box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.35);
  left: 59px;
  top: 58%;
}

#sectionStart div h4 {
  margin-top: 20%;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#sectionStart div button {
  font-family: 'Abel', sans-serif;
  font-size: 24px;
  background-color: #506757;
  color: #fff;
  width: 145px;
  height: 51px;
  border-radius: 11px;
  -webkit-box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.3);
  margin-left: 22%;
  border: 0px;
}

#sectionOne img {
  position: absolute;
  height: 297px;
  width: 506px;
  left: -126px;
}

#sectionOne .imgTwo_tablet {
  display: none;
}

#sectionOne h3 {
  position: absolute;
  margin-top: 15%;
  left: 55%;
  width: 50%;
  float: right;
  line-height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#sectionOne div {
  position: absolute;
  background-color: #cdd1d1;
  width: 300px;
  height: 342px;
  border-radius: 20px;
  -webkit-box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.35);
          box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.35);
  left: 38px;
  top: 42%;
}

#sectionOne div h4 {
  margin-top: 10%;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#sectionOne div p {
  text-align: center;
}

#sectionOne div button {
  font-family: 'Abel', sans-serif;
  font-size: 24px;
  background-color: #506757;
  color: #fff;
  width: 145px;
  height: 51px;
  border-radius: 11px;
  -webkit-box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.3);
  margin-left: 22%;
  border: 0px;
}

#sectionTwo img {
  position: absolute;
  height: 347px;
  width: 556px;
  left: -76px;
}

#sectionTwo div {
  position: absolute;
  background-color: #cdd1d1;
  width: 300px;
  height: 342px;
  border-radius: 20px;
  -webkit-box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.35);
          box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.35);
  left: 38px;
  top: 42%;
}

#sectionTwo div h4 {
  margin-top: 10%;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#sectionTwo div p {
  text-align: center;
}

#sectionTwo div button {
  font-family: 'Abel', sans-serif;
  font-size: 24px;
  background-color: #506757;
  color: #fff;
  width: 145px;
  height: 51px;
  border-radius: 11px;
  -webkit-box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.3);
  margin-left: 22%;
  border: 0px;
}

#sectionThree img {
  position: absolute;
  height: 351px;
  width: 441px;
  left: -66px;
}

#sectionThree div {
  position: absolute;
  background-color: #cdd1d1;
  width: 300px;
  height: 338px;
  border-radius: 20px;
  -webkit-box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.35);
          box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.35);
  left: 38px;
  top: 43%;
}

#sectionThree div h4 {
  margin-top: 10%;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#sectionThree div p {
  margin-top: -8%;
  text-align: center;
}

#sectionThree div button {
  font-family: 'Abel', sans-serif;
  font-size: 24px;
  background-color: #506757;
  color: #fff;
  width: 145px;
  height: 51px;
  border-radius: 11px;
  -webkit-box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.3);
  margin-left: 22%;
  border: 0px;
}

#sectionBooking {
  background-color: #d0af96;
}

#sectionBooking h5 {
  position: relative;
  top: 35px;
  text-align: center;
}

#sectionBooking form {
  position: absolute;
  left: 7%;
}

#sectionBooking div {
  position: relative;
  width: 100vw;
  margin-top: 10%;
}

#sectionBooking label {
  font-family: 'Abel', sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-left: 3%;
}

#sectionBooking input {
  margin: 3px;
  background-color: #cdd1d1;
  border-radius: 10px;
  border: 0;
  width: 315px;
  height: 41px;
  -webkit-box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.3);
}

#sectionBooking button {
  margin-top: 10%;
  font-family: 'Abel', sans-serif;
  font-size: 24px;
  background-color: #506757;
  color: #fff;
  width: 145px;
  height: 51px;
  border-radius: 11px;
  -webkit-box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.3);
  margin-left: 22%;
  border: 0px;
}

#sectionAbout img {
  position: relative;
  top: -10%;
  height: 323px;
  width: 459px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -123;
}

#sectionAbout div {
  position: absolute;
  background-color: #cdd1d1;
  width: 272px;
  height: 327px;
  border-radius: 20px;
  -webkit-box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.35);
          box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.35);
  left: 52px;
  top: 35%;
}

#sectionAbout div h5 {
  margin-top: 13%;
  text-align: center;
}

#sectionAbout div p {
  margin-top: -3%;
  text-align: center;
}

footer {
  position: relative;
  width: 100vw;
  height: 75px;
  background-color: #896555;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

footer p {
  color: #fff;
  font-size: 16px;
  margin: 0px;
}

footer #footerColumn {
  margin-left: 25%;
  margin-top: 5%;
}

.CookieBar {
  position: fixed;
  background-color: #896555;
  bottom: 0px;
  width: 100%;
  height: 75px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.CookieBar #CookieText {
  font-size: 16px;
  color: #fff;
}

.CookieBar #btns {
  position: absolute;
  right: 2px;
  top: 10px;
}

.CookieBar #btnAcc {
  font-family: 'Abel', sans-serif;
  font-size: 18px;
  background-color: #506757;
  color: #fff;
  width: 100px;
  height: 35px;
  border-radius: 11px;
  -webkit-box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.3);
  border: 0px;
}

.CookieBar #btnDen {
  font-family: 'Abel', sans-serif;
  font-size: 18px;
  background-color: #ac5444;
  color: #fff;
  width: 100px;
  height: 35px;
  margin: 8px;
  border-radius: 11px;
  -webkit-box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.3);
  border: 0px;
}

@media screen and (min-width: 768px) {
  .MenuSection #spanOne {
    width: 55px;
    height: 8px;
    top: 37px;
    left: 680px;
  }
  .MenuSection #spanTwo {
    width: 55px;
    height: 8px;
    top: 30px;
    left: 681px;
  }
  section {
    height: 100vh;
    width: 100vw;
  }
  #sectionStart #animation {
    left: 0px;
  }
  #sectionStart .image_mobile {
    display: none;
  }
  #sectionStart .image_tablet {
    display: block;
    width: 1044px;
    height: 721px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #sectionStart nav span {
    width: 55px;
    height: 8px;
    margin-bottom: 7px;
    top: 20px;
    left: 680px;
  }
  #sectionStart h2 {
    font-size: 48px;
    top: 35%;
    left: 40px;
  }
  #sectionStart h1 {
    font-size: 96px;
    top: 37%;
    left: 50px;
  }
  #sectionStart #line {
    width: 132px;
  }
  #sectionStart div {
    width: 414px;
    height: 406px;
    left: 165px;
    top: 62%;
  }
  #sectionStart div h4 {
    margin-top: 30%;
    font-size: 40px;
  }
  #sectionStart div button {
    margin-left: 32%;
  }
  #sectionOne .imgTwo_mobile {
    display: none;
  }
  #sectionOne .imgTwo_tablet {
    display: block;
    width: 768px;
    height: 496px;
    left: 0px;
    top: 10%;
  }
  #sectionOne h3 {
    position: absolute;
    margin-top: 15%;
    left: 55%;
    width: 25%;
    float: right;
    line-height: 46px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #sectionOne div {
    position: absolute;
    background-color: #cdd1d1;
    width: 300px;
    height: 342px;
    border-radius: 20px;
    -webkit-box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.35);
            box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.35);
    left: 38px;
    top: 42%;
  }
  #sectionOne div h4 {
    margin-top: 10%;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  #sectionOne div p {
    text-align: center;
  }
  #sectionOne div button {
    font-family: 'Abel', sans-serif;
    font-size: 24px;
    background-color: #506757;
    color: #fff;
    width: 145px;
    height: 51px;
    border-radius: 11px;
    -webkit-box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.3);
            box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.3);
    margin-left: 22%;
    border: 0px;
  }
}
/*# sourceMappingURL=style.css.map */